body {
	background-color: #ffffea;
	font-family: 'Iosevka Web';
}

h1 {
	font-size: 40pt;
}

.content	{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bleak {
	color: #939383;
}